:root {
  --green: #BED1CF;
  --red: #E78895;
  --yellow: #FFE4C9;
  --grey: #EFECEC;
  --brown: #3E3232;
}

.App {
  text-align: center;
}

.Title {
  background-color: var(--green);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-family: "comic sans ms";
  font-size: calc(10px + 1vmin);
  color: black;
}

.Listing {
  background-color: var(--red);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.TextInput {
  height: 22px;
  width: 150px;
  font-size: 14px;
  font-family: "comic sans ms";
  border-radius: 5px;
  background: white;
  border: 1px solid var(--brown);
}
.TextInput:focus {
  outline: 0;
  border: 1.5px solid var(--brown);
  background:  var(--yellow);
}
.FileInput{
  font-family: "comic sans ms";
}
::file-selector-button,
::-webkit-file-upload-button {
  background-color: var(--grey);
  color: rgb(31, 41, 55);
  font-family: "comic sans ms";
  cursor: pointer;
  padding: 0.25rem 1rem;
  border-radius: 7px;
}
.SubmitInput{
  padding: 7px 25px;
  border-radius: 8px;
  border: none;
  border-bottom: 4px solid #1d7dcc;
  background-color: #45a2ee;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  appearance: none;
}
.SubmitInput:hover {
  margin-top: 3px;
  background-color: #309bf2;
  border-bottom: 2px solid #006366;
}
.SubmitInput:active {
  margin-top: 3px;
  background-color: white;
  border-bottom: 2px solid #006366;
}

.ItemList {
  background-color: var(--grey);
  border-color: var(--grey);
  border-radius: 25px;
  border-width: 4px 10px 4px 10px;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  background-clip: padding-box;
  box-shadow: 2px 2px 8px 0 grey;
}
.Item {
  padding: 20px;
  width: 150px;
  height: 150px;
  border-radius: 40px;
  font-family: "comic sans ms";
  font-size: calc(10px + 1vmin);
  color: black;
}
.Image {
  margin: 20px;
  width: 150px;
  height: 150px;
  border: outset var(--brown);
  border-width: 1.5px;
  border-radius: 40px;
}
.Wrapper {
  background-color: var(--yellow);
  padding: 15px 25px 150px 25px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  column-gap: 20px;
  row-gap: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
